@import 'variables.styl'

.user 
  background-color: #f3f3f3;
  box-shadow: 0 3px 3px rgba(#000, 10%);
  color: #000;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  padding-right: 20px;
  width: 90%;
  position: relative;

  h3, 
  h4 
    font-weight: normal;
    padding: 5px 0;

  h3 
    font-size: 24px;
  
  h4 
    font-size: 18px;
  .user-info 
    display: flex;
    align-items: center;

  img
    margin-right: 15px;
    width: 120px;
    height: 120px;
  

  .circle 
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;

    &.online 
      background-color: green;

    &.offline 
      background-color: red;