// Imports go at top
@import 'variables.styl'

*,
*:before,
*:after 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body 
  background-color: $backgroundColor;
  color: #f3f3f3;
  font-family: sans-serif;
  min-height: 100vh;